{% extends "base.html" %}

{% block title %}Food Details{% endblock %}

{% block content %}
    <div>
        {% if current_user.is_authenticated %}
            {% if current_user.role_name == 'admin' %}
                <p>Welcome {{ current_user.username }} 👑</p>
                <a href="{{ url_for('admin.admin_dash') }}" class="btn btn-dark mb-3">Admin Dash</a>
            {% elif current_user.role_name == 'employee' %}
                <p>Welcome {{ current_user.username }} 👌</p>
                <a href="{{ url_for('employee.employee_dash') }}" class="btn btn-dark mb-3">Employee Dash</a>
            {% elif current_user.role_name == 'vet' %}
                <p>Welcome {{ current_user.username }} 👌</p>
                <a href="{{ url_for('vet.vet_dash') }}" class="btn btn-dark mb-3">Vet Dash</a>
            {% else %}
                <p>Welcome {{ current_user.username }}</p>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}" class="btn btn-danger mb-3">Logout</a>
        {% else %}
            <p>You are not cennected.</p>
            <a href="{{ url_for('auth.login') }}" class="btn btn-success mb-3">Login</a>
        {% endif %}
    </div>

<div class="container mt-4">
    <h2 class="text-center mb-4">deatails Foods</h2>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ food.id }}</td>
            </tr>
            <tr>
                <th>Animal</th>
                <td>{{ food.animal_name }}</td>
            </tr>
            <tr>
                <th>Type of Food</th>
                <td>{{ food.type_food }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ food.quantity }}</td>
            </tr>
            <tr>
                <th>Feeding Date</th>
                <td>{{ food.date_food.strftime('%Y-%m-%d %H:%M') if food.date_food else '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ url_for('food_routes.edit_food', food_id=food.id) }}" class="btn btn-warning">Edit</a>
    <a href="{{ url_for('food_routes.list_foods') }}" class="btn btn-secondary">Back to list</a>
</div>
{% endblock %}
