{% extends "base.html" %}

{% block title %}Update Food{% endblock %}

{% block content %}
    <div>
        {% if current_user.is_authenticated %}
            {% if current_user.role_name == 'admin' %}
                <p>Welcome {{ current_user.username }} 👑</p>
                <a href="{{ url_for('admin.admin_dash') }}" class="btn btn-dark mb-3">Admin Dash</a>
            {% elif current_user.role_name == 'employee' %}
                <p>Welcome {{ current_user.username }} 👌</p>
                <a href="{{ url_for('employee.employee_dash') }}" class="btn btn-dark mb-3">Employee Dash</a>
            {% elif current_user.role_name == 'vet' %}
                <p>Welcome {{ current_user.username }} 🩺</p>
                <a href="{{ url_for('vet.vet_dash') }}" class="btn btn-info mb-3">Vet Dash</a>
            {% else %}
                <p>Welcome {{ current_user.username }}</p>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}" class="btn btn-danger mb-3">Logout</a>
        {% else %}
            <p>You are not cennected.</p>
            <a href="{{ url_for('auth.login') }}" class="btn btn-success mb-3">Login</a>
        {% endif %}
    </div>
    <div class="container mt-4">
        <h2 class="text-center mb-4">Update Food</h2>

        <form method="POST" action="{{ url_for('food.update_food', food_id=food_id) }}">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.animal.label(class="form-label") }}
                {{ form.animal(class="form-select") }}
                {% for error in form.animal.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.type_food.label(class="form-label") }}
                {{ form.type_food(class="form-control") }}
                {% for error in form.type_food.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.quantity.label(class="form-label") }}
                {{ form.quantity(class="form-control") }}
                {% for error in form.quantity.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.date_food.label(class="form-label") }}
                {{ form.date_food(class="form-control") }}
                <small class="form-text text-muted">Format: YYYY-MM-DD HH:MM</small>
                {% for error in form.date_food.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-success">{{ form.submit.label.text }}</button>
            <a href="{{ url_for('food.list_all_foods') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
