{% extends "base.html" %}

{% block title %}Service Detail{% endblock %}

{% block content %}
    <div>
        {% if current_user.is_authenticated and current_user.role_name == "admin" %}
            <p class="admin-connected">Admin Connected 👌</p>
        {% endif %}
        <a href="{{ url_for('admin.admin_dash') }}" class="btn btn-secondary mb-3">admin dash</a>
            <a href="{{ url_for('auth.logout') }}" class="btn btn-danger mb-3">Logout</a>

    </div>

    <div class="container mt-5">
        <h2 class="mb-4 text-center">Service detail</h2>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>description</th>
                <td>created_at</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ service.id }}</td>
                <td>{{ service.name }}</td>
                <td>{{ service.description }}</td>
                <td>{{ service.created_at }}</td>
            </tr>
            </tbody>
        </table>
        <a href="{{ url_for('service.list_all_services') }}" class="btn btn-secondary">back</a>
    </div>
{% endblock %}


