{% extends 'base.html' %}



{% block content %}

    <div class="container">
        <h1>Update Service</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div>
                {{ form.name.label }} {{ form.name(size=40) }}<br>
                {% for error in form.name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div>
                Image actuelle:<br>
                <img src="{{ url_for('static', filename=service.url_image) }}" alt="service image {{ service.name }}" style="max-width: 300px;">
            </div>

            <div>
                {{ form.url_image.label }} {{ form.url_image(class="form-control") }}<br>
                {% for error in form.url_image.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div>
                {{ form.description.label }} {{ form.description(class="form-control", rows=4) }}<br>
                {% for error in form.description.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            {{ form.submit(class="btn btn-primary") }}
            <a href="{{ url_for('service.list_all_services') }}" class="btn btn-secondary">Back</a>

        </form>

    </div>
{% endblock %}
