{% extends "base.html" %}

{% block title %}Liste des rapports de soins{% endblock %}

{% block content %}
{#    <div class="container-fluid mt-5">#}
        <div>
            {% if current_user.is_authenticated %}
                {% if current_user.role_name == 'admin' %}
                    <p>Welcome {{ current_user.username }} 👑</p>
                    <a href="{{ url_for('admin.admin_dash') }}" class="btn btn-dark mb-3">Admin Dash</a>
                {% elif current_user.role_name == 'employee' %}
                    <p>Welcome {{ current_user.username }} 👌</p>
                    <a href="{{ url_for('employee.employee_dash') }}" class="btn btn-dark mb-3">Employee Dash</a>
                {% elif current_user.role_name == 'vet' %}
                    <p>Welcome {{ current_user.username }} 👌</p>
                    <a href="{{ url_for('vet.vet_dash') }}" class="btn btn-dark mb-3">Vet Dash</a>
                {% else %}
                    <p>Welcome {{ current_user.username }}</p>
                {% endif %}
                <a href="{{ url_for('auth.logout') }}" class="btn btn-danger mb-3">Logout</a>
            {% else %}
                <p>You are not cennected.</p>
                <a href="{{ url_for('auth.login') }}" class="btn btn-success mb-3">Login</a>
                <a href="{{ url_for('user.animal_all_animals') }}" class="btn btn-primary mb-3">All Aimals</a>
            {% endif %}
        </div>

        <div class="container-fluid mt-5">
            <h1 class="text-center mb-4">List  of All cares</h1>

            <!-- Flash messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div>
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <div class="mb-3">
                <a href="{{ url_for('care.create_care') }}" class="btn btn-primary">Add A New Care</a>
            </div>
            <div class="container-fluid mt-4">

                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>ID_Care</th>
                        <th>ID_Animal</th>
                        <th>ID_Vet</th>
                        <th>Type of care</th>
                        <th>Description</th>
                        <th>Date of Care</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for care in cares %}
                        <tr>
                            <td>{{ care.id }}</td>
                            <td>{{ care.animal_id }}</td>
                            <td>{{ care.vet_id }}</td>
                            <td>{{ care.type_care }}</td>
                            <td>{{ care.description }}</td>
                            <td>{{ care.date_care.strftime('%Y-%m-%d %H:%M') if care.date_care else '' }}</td>
                            <td>
                                <a href="{{ url_for('care.update_care', care_id=care.id) }}"
                                   class="btn btn-warning btn-sm">Update</a>
                                <form action="{{ url_for('care.delete_care', care_id=care.id) }}" method="POST"
                                      style="display:inline-block;">
                                    <button type="submit" class="btn btn-danger btn-sm"
                                            onclick="return confirm('Confirmer la suppression ?')">Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7" class="text-center">Aucun rapport de soin trouvé.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
