{% extends "base.html" %}

{% block title %}Create Role{% endblock %}


{% block content %}
    <div>
        {% if current_user.is_authenticated and current_user.role_name == "admin" %}
            <p>Welcome {{ current_user.username }} 👌 </p>
        {% endif %}
        <a href="{{ url_for('admin.admin_dash') }}" class="btn btn-dark mb-3">admin Dash</a>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-danger mb-3">Logout</a>
        <a href="{{ url_for('role.list_all_roles') }}" class="btn btn-primary mb-3">All Roles</a>
    <div>
          <h2 class="text-center mb-4">Create Role</h2>
    </div>

    <div class="container mt-5">
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.name.label }}{{ form.name(class="form-control") }}
                {% for error in form.name.errors %}
                    <span style="color:#ff0000;">{{ error }}</span>
                {% endfor %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>

{% endblock %}