{% extends 'base.html' %}

{% block title %}Update Habitat{% endblock %}

{% block content %}
    <div>
        {% if current_user.is_authenticated %}
            {% if current_user.role_name == 'admin' %}
                <p>Welcome {{ current_user.username }} 👑</p>
                <a href="{{ url_for('admin.admin_dash') }}" class="btn btn-dark mb-3">Admin Dash</a>
            {% elif current_user.role_name == 'employee' %}
                <p>Welcome {{ current_user.username }} 👌</p>
                <a href="{{ url_for('employee.employee_dash') }}" class="btn btn-dark mb-3">Employee Dash</a>
            {% elif current_user.role_name == 'vet' %}
                <p>Welcome {{ current_user.username }} 👌</p>
                <a href="{{ url_for('vet.vet_dash') }}" class="btn btn-info mb-3">Vet Dash</a>
            {% else %}
                <p>Welcome {{ current_user.username }}</p>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}" class="btn btn-danger mb-3">Logout</a>
        {% else %}
            <p>You are not cennected.</p>
            <a href="{{ url_for('auth.login') }}" class="btn btn-success mb-3">Login</a>
        {% endif %}
        <a href="{{ url_for('animal.list_all_animals') }}" class="btn btn-secondary">All Aimals</a>
    </div>

    <h1 class="text-center mb-4">Update Animal</h1>
    <div class="container">
        <h1>Update Animal</h1>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div>
                {{ form.name.label }} {{ form.name(class="form-control", size=40) }}<br>
                {% for error in form.name.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div>
                {{ form.race.label }} {{ form.race(class="form-control", size=40) }}<br>
                {% for error in form.race.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div>
                Image actuelle:<br>
                <img src="{{ url_for('static', filename=animal.url_image) }}" alt="animal image {{ animal.name }}"  style="max-width: 300px;" alt="image actuel">
            </div>

            <div>
                {{ form.url_image.label }}<br>
                {{ form.url_image(class="form-control", multiple=True) }}<br>
                {% for error in form.url_image.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            <div>
                {{ form.description.label }}<br>
                {{ form.description(rows=5, cols=40) }}<br>
                {% for error in form.description.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>

            {{ form.submit(class="btn btn-primary") }}
            Back</a>

        </form>
    </div>
{% endblock %}
