{% extends "base.html" %}

{% block title %}Détail de l'utilisateur{% endblock %}

{% block content %}
    <div>
        {% if current_user.is_authenticated and current_user.role_name == "admin" %}
            <p class="admin-connected">Admin Connected 👌</p>
        {% endif %}
    </div>
    <div class="container mt-5">

        <h1 class="text-center mb-4">User Details</h1>
        <a href="{{ url_for('user.create_user') }}" class="btn btn-primary mb-3">Create User</a>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-danger mb-3">Logout</a>

        <table class="table table-bordered table-hover">
            <tr>
                <th>ID</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>UserName</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôle</th>
                <td>{{ user.role_name }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ user.created_at.strftime('%d/%m/%Y %H:%M') if user.created_at }}</td>
            </tr>
        </table>

        <a href="{{ url_for('user.list_all_users') }}" class="btn btn-secondary">Back</a>
    </div>
{% endblock %}

