{% extends "base.html" %}

{% block title %}Détail de l'utilisateur{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">user Details</h2>

        <table class="table table-bordered table-hover">
            <tr>
                <th>ID</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>UserName</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Rôle</th>
                <td>{{ user.role_name }}</td>
            </tr>
            <tr>
                <th>Date de création</th>
                <td>{{ user.created_at.strftime('%d/%m/%Y %H:%M') if user.created_at }}</td>
            </tr>
        </table>

        <a href="{{ url_for('user.list_all_users') }}" class="btn btn-secondary">Back</a>
    </div>
{% endblock %}

