{% extends "base.html" %}

{% block title %}Détail Utilisateur{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Détails de l'utilisateur</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role_name</th>
                <th>Date de création</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.role_name }}</td> {# ou {{ user.role_name }} si tu récupères le nom du rôle #}
                <td>{{ user.created_at }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}


