{% extends "base.html" %}

{% block title %}Create Habitats{% endblock %}

{% block content %}
   <div>
        {% if current_user.is_authenticated %}
            {% if current_user.role_name == 'admin' %}
                <p>Welcome {{ current_user.username }} 👑</p>
                <a href="{{ url_for('admin.admin_dash') }}" class="btn btn-dark mb-3">Admin Dash</a>
            {% elif current_user.role_name == 'employee' %}
                <p>Welcome {{ current_user.username }} 👌</p>
                <a href="{{ url_for('employee.employee_dash') }}" class="btn btn-dark mb-3">Employee Dash</a>
            {% else %}
                <p>Welcome {{ current_user.username }} 👌</p>
            {% endif %}
            <a href="{{ url_for('auth.logout') }}" class="btn btn-danger mb-3">Logout</a>
        {% else %}
            <p>You are not cennected.</p>
            <a href="{{ url_for('auth.login') }}" class="btn btn-success mb-3">Login</a>
        {% endif %}
       <a href="{{ url_for('habitat.list_all_habitats') }}" class="btn btn-primary mb-3">All Habitats</a>

    </div>
    <div class="container-fluid mt-4">
        <h2 class="text-center mb-4">Create habitat</h2>
    <div>

    <div class="container mt-5">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}

            <div class="mb-3">
                {{ form.name.label }} {{ form.name(class="form-control") }}
                {% for error in form.name.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.url_image.label }} {{ form.url_image(class="form-control") }}
                {% for error in form.url_image.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="mb-3">
                {{ form.description.label }} {{ form.description(class="form-control", rows=4) }}
                {% for error in form.description.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
{% endblock %}
