{% extends "base.html" %}

{% block title %}Détail Habitat{% endblock %}

{% block content %}
    <div>
        {% if current_user.is_authenticated and current_user.role_name == "admin" %}
            <p class="admin-connected">Admin Connected 👌</p>
        {% endif %}
        <a href="{{ url_for('admin.admin_dash') }}" class="btn btn-secondary mb-3">admin dash</a>
        <a href="{{ url_for('auth.logout') }}" class="btn btn-danger mb-3">Logout</a>
    </div>
    <div class="container mt-5">
        <h2 class="text-center mb-4">Habitat detail</h2>

        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>description</th>
                <th>url_image</th>
                <th>created_at</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ habitat.id }}</td>
                <td>{{ habitat.name }}</td>
                <td>{{ habitat.description }}</td>
                <td>{{ habitat.url_image }}</td>
                <td>{{ habitat.created_at }}</td>
            </tr>
            </tbody>
        </table>
        <a href="{{ url_for('habitat.list_all_habitats') }}" class="btn btn-secondary">Back</a>
    </div>
{% endblock %}


