{% extends "base.html" %}

{% block title %}Détail Utilisateur{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Détails de l'utilisateur</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>Date de création</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ habitat.id }}</td>
                <td>{{ habitat.tname }}</td>
                <td>{{ habitat.email }}</td>
                <td>{{ habitat.created_at }}</td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}


