{% extends 'base.html' %}



{% block content %}

<div class="container">
  <h1>Modifier l'habitat</h1>
  <form method="POST" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    <p>
      {{ form.name.label }}<br>
      {{ form.name(size=40) }}<br>
      {% for error in form.name.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </p>

    <p>
      Image actuelle:<br>
      <img src="{{ habitat.url_image }}" style="max-width: 300px;">
    </p>

    <p>
      {{ form.url_images.label }}<br>
      {{ form.url_images(multiple=True) }}<br>
      {% for error in form.url_images.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </p>

    <p>
      {{ form.description.label }}<br>
      {{ form.description(rows=5, cols=40) }}<br>
      {% for error in form.description.errors %}
        <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </p>

    <p>{{ form.submit() }}</p>
  </form>
    </div>
{% endblock %}
