{% extends "base.html" %}

{% block content %}
    <style>
        .card-img-top {
            height: 180px;
            object-fit: cover;
            width: 100%;
        }

        .card {
            width: 100%;
        }

        {#   .card-img-top {#}
        {#    height: 250px;#}
        {#    object-fit: cover;#}
        {
        #}#}
    </style>
    <div class="container-fluid mt-5">
        <h2 class="text-center mb-4">Welcome To Our Zoo's Animals </h2>

        <div class="row gx-4 gy-4">
            {% for animal in animals %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card h-100 shadow">
                        <img src="{{ url_for('static', filename=animal.url_image.lstrip('/')) }}" class="card-img-top"
                             alt="{{ animal.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ animal.name }}</h5>
                            <p class="card-text">{{ animal.description[:120] }}...</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}







