{% extends "base.html" %}

{% block title %}Connexion | Arcadia Zoo{% endblock %}

{% block content %}
  <h2>Connexion</h2>
  <form>
    <div class="mb-3">
      <label for="email" class="form-label">Adresse email</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Mot de passe</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-success">Se connecter</button>
  </form>
{% endblock %}
