{% extends "base.html" %}

{% block title %} Home {% endblock %}


{% block content %}
    <h1 class="my-4 text-center">Welcome To ArcadiaZoo</h1>
    <div class="mb-4">
        <img class="img-fluid" src="{{ url_for('static', filename='images/header.jpg') }}" alt="bigtitle">
    </div>


    <h2 class="my-4 text-center">Our Animals</h2>
    <div id="animalsCarousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            {% for animal in animals %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ url_for('static', filename=animal.url_image.lstrip('/')) }}" class="d-block w-100"
                         alt="{{ animal.name }}" style="height: 400px; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ animal.name }}</h5>
                        <!-- tu peux ajouter d'autres infos ici -->
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#animalsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#animalsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
        </button>
    </div>

    <h2 class="my-4 text-center">Our habitats</h2>
    <div id="habitatsCarousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
            {% for habitat in habitats %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ url_for('static', filename=habitat.url_image.lstrip('/')) }}" class="d-block w-100"
                         alt="{{ habitat.name }}" style="height: 400px; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ habitat.name }}</h5>
                        <!-- tu peux ajouter d'autres infos ici -->
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#habitatsCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#habitatsCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
        </button>
    </div>


    <h2 class="my-4 text-center">Our Services</h2>
    <div id="servicesCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for service in services %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ url_for('static', filename=service.url_image.lstrip('/')) }}" class="d-block w-100"
                         alt="{{ service.name }}" style="height: 400px; object-fit: cover;">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ service.name }}</h5>
                        <!-- tu peux ajouter d'autres infos ici -->
                    </div>
                </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#servicesCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#servicesCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
        </button>
    </div>

<div class="container">

<div class="container">
{#    action="{{ url_for('main.index') }}"#}
    <form id="form-review" method="POST" >
        {{ form.csrf_token }}
        <div>
            <input type="hidden" id="element-id" value="{{ element_id }}">
        </div>
        <div>
            {{ form.pseudo.label }} <br>
            {{ form.pseudo(class="form-label form-control", id="pseudo") }}
        </div>
        <div>
            {{ form.message.label }} <br>
            {{ form.message(class="form-label form-control", id="text-area-review", rows="4") }}
        </div>
        <div>
            {{ form.rating.label }}<br>
            {{ form.rating(class="form-select", id="rating") }}
        </div>
        {{ form.submit(class="btn btn-primary", id="submit-btn") }}
    </form>
</div>



    <hr>


    <h2 class="my-4 text-center">List Off Reviews</h2>
    <div class="container">
    {% if reviews %}
        <ul id="reviews-list" class="list-group">
            {% for review in reviews %}
                <li class="list-group-item review-item">
                    <strong>{{ review.pseudo }}</strong> — Note : {{ review.rating }} / 5<br>
                    <p>{{ review.message }}</p>
                    <small><em>{{ review.date.strftime('%Y-%m-%d %H:%M') }}</em></small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p id="no-reviews">No reviews!!.</p>
    {% endif %}
</div>

<script src="{{ url_for('static', filename='js/review.js') }}"></script>
{% endblock %}


















