{% extends "base.html" %}

{% block content %}

    <div class="container-fluid mt-5">
        <h2 class="text-center mb-4">welcom to Our Services</h2>

        <div class="row gx-4 gy-4">
            {% for service in services %}
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card h-100 shadow">
                        <img src="{{ url_for('static', filename=service.url_image.lstrip('/')) }}" class="card-img-top" class="card-img-top animal-clickable"
                         alt="{{ service.name }}"
                         data-service-id="{{ service.id }}"
                         style="cursor:pointer;">
                        <div class="card-body">
                            <h5 class="card-title">{{ service.name }}</h5>
                            <p class="card-text">{{ service.description[:120] }}...</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <style>
        .card-img-top {
            height: 250px;
            object-fit: cover;
        }
    </style>
{% endblock %}
